.scale-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.scale-container > .main-canvas {
  margin: 50px;
  height: 325px;
  width: 1010px;
}

.toolbox {
  display: flex;
  gap: 20px;
  align-items: center;
}

.toggle-buttons {
  height: 75px;
  width: 150px;
  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;
}
.pentatonic-button {
  background: black;
  color: white;
}
.blues-button {
  background: navy;
  color: white;
}
